In [3]:
import pandas as pd
df = pd.read_csv("agridata.csv")
df

    outlook  temp windy  results
0     sunny   NaN    no        0
1       NaN  cool   yes        0
2      rain   hot   NaN        1
3      rain  warm   NaN        1
4     sunny   NaN    no        1
5       NaN  cool   yes        1
6  overcast   NaN    no        0

In [6]:
# In every column there is NaN which means there is no data and that feild is empty
# we can insert some value like "no data" in all empty feilds

inputs = df.drop('results',axis='columns')
target = df['results']
df["outlook"].fillna("Nodata", inplace = True) 
df["temp"].fillna("Nodata", inplace = True) 
df["windy"].fillna("Nodata", inplace = True) 
df

    outlook     temp    windy  results
0     sunny  No_data       no        0
1   No_data     cool      yes        0
2      rain      hot  No_data        1
3      rain     warm  No_data        1
4     sunny  No_data       no        1
5   No_data     cool      yes        1
6  overcast  No_data       no        0

In [7]:
# Machine learning algorithms runs on a numbers rather than any given strings
# so we need to convert every strings into number using lab encoder algorithm

from sklearn.preprocessing import LabelEncoder
le_outlook = LabelEncoder()
le_temp = LabelEncoder()
le_windy = LabelEncoder()


inputs['outlook_n'] = le_outlook.fit_transform(inputs['outlook'])
inputs['temp_n'] = le_temp.fit_transform(inputs['temp'])
inputs['windy_n'] = le_windy.fit_transform(inputs['windy'])
inputs

    outlook     temp    windy  outlook_n  temp_n  windy_n
0     sunny  No_data       no          3       0        1
1   No_data     cool      yes          0       1        2
2      rain      hot  No_data          2       2        0
3      rain     warm  No_data          2       3        0
4     sunny  No_data       no          3       0        1
5   No_data     cool      yes          0       1        2
6  overcast  No_data       no          1       0        1

In [8]:
# New encoded columns has been added which represents each string as an unique number on a column
# Now we can remove string values columns as now there is no need to store

inputs_n = inputs.drop(['outlook','temp','windy'],axis='columns')
inputs_n

   outlook_n  temp_n  windy_n
0          3       0        1
1          0       1        2
2          2       2        0
3          2       3        0
4          3       0        1
5          0       1        2
6          1       0        1

In [9]:
# Our target data is results cloumn in which 0 represents bad results and 1 respresents good results of cultivation.

target

0    0
1    0
2    1
3    1
4    1
5    1
6    0
Name: results, dtype: int64

In [10]:
#Now we are adding Decision tree algorithm to predict from the labeled or given data
#This label data model helps machine learning to train or learn the model so that it can predict accurately based on the given sets

from sklearn import tree
model = tree.DecisionTreeClassifier()
model.fit(inputs_n, target)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [11]:
# Now we can predict our score which will be going to 1
# For complex data set the value score is always less than 1

model.score(inputs_n,target)

0.7142857142857143

In [12]:
#Now its time to test or predict our data model
# we have to test by assigning our 4 columns value in an array of predict function
# 4 columns are outlook, temperature, windy and soil respectively
# In outlook it is 2 which represents 'rain'
# In Temperature it is 1 which represents 'cool'
# In windy it is 2 which respresents 'yes' means it is windy
# so our target results will be 0 which means end result of cultivation is not good on that day
model.predict([[2,1,1]])

array([0], dtype=int64)

In [13]:
# we can follow the same method by taking another data values
# For better understanding, just take a look at output row [7] to take data values.
model.predict([[2,0,0]])

array([0], dtype=int64)

In [14]:
model.predict([[2,0,1]])

array([0], dtype=int64)

In [15]:
model.predict([[2,2,1]])

array([1], dtype=int64)